body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #eee4ee;
    color: #333;
}

h1 {
    font-size: 60px;
    color: black;
    text-align: center;
    margin-bottom: 40px;
}

.hanCommands {
    width: 60%;
    background-color: gray;
    border-radius: 40px;
    color: black;
    text-align: center;
    padding: 20px;
    margin: 40px auto;
    position: relative;
}

h4 {
    font-size: 10px;
}

pre {
    text-align: left;
    white-space: pre-wrap;
    background-color: #eee;
    width: 80%; 
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.6s ease;
    z-index: 1;
}

pre:hover {
    transform: scale(1.1);
}

.fullscreen {
    position: fixed;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    width: auto;
    height: auto;
    padding: 40px;
    font-size: 2em;
    border-radius: 20px;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 10px 40px rgba(0,0,0,0.3);
    overflow: auto;
}

.footer {
    background-color: rgb(99, 99, 99);
    height: 200px;
    padding-left: 20px;
    padding-top: 20px;
    color: black;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer div {
    flex: 1;
    margin: 0 10px;
}


h2 {
    font-size: 20px;
}

a {
    color: black;
}